<h1>Review and Submit</h1>
<h2>Client Details</h2>
<div class="container">
    <form [formGroup]="reviewForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-2">
                <label>Client<span class="req">*</span></label>
                <input type="text" formControlName="client" class="form-control"
                    [ngModel]="updateClientDetails.client" />
            </div>

            <div class="form-group col-md-5">
                <label>First Name</label>
                <input type="text" formControlName="firstName" class="form-control"
                    [(ngModel)]="updateClientDetails.firstName" />
            </div>
            <div class="form-group col-md-5">
                <label>Last Name</label>
                <input type="text" formControlName="lastName" class="form-control"
                    [(ngModel)]="updateClientDetails.lastName" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Birthday</label>
                <input type="text" formControlName="birthday" class="form-control"
                    [(ngModel)]="updateClientDetails.birthday" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Company Name</label>
                <input type="text" formControlName="companyName" class="form-control"
                    [(ngModel)]="updateClientDetails.companyName" />
            </div>
            <div class="form-group col-md-6">
                <label>Position</label>
                <input type="text" formControlName="position" class="form-control"
                    [(ngModel)]="updateClientDetails.position" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-4">
                <label>Annual Salary</label>
                <input type="text" formControlName="annualSalary" class="form-control"
                    [(ngModel)]="updateClientDetails.annualSalary" />
            </div>
            <div class="form-group col-md-8">
                <label>Description</label>
                <textarea type="text" formControlName="description" class="form-control"
                    [(ngModel)]="updateClientDetails.description"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Hobby<span class="req">*</span></label>
                <input type="text" formControlName="hobby" class="form-control"
                    placeholder="ex:Reading,singing,dancing.." class="form-control"
                    [(ngModel)]="updateClientDetails.hobby" />
            </div>
            <div class=" form-group col-md-6">
                <label>Date<span class="req">*</span></label>
                <input type="text" formControlName="datefield" class="form-control"
                    [(ngModel)]="updateClientDetails.datefield" />

            </div>
        </div>
        <div class=" row">
            <div class="form-group col-md-6">
                <label>Favourite Colour </label>
                <input type="text" formControlName="favColor" class="form-control"
                    [(ngModel)]="updateClientDetails.favColor">
            </div>
            <div class="form-group col-md-6">
                <label>Phone Number <span class="req">*</span></label>
                <input type="number" formControlName="phone" class="form-control" maxlength="10"
                    [(ngModel)]="updateClientDetails.phone" />
            </div>
        </div>
        <hr>
        <hr>
        <h2>Appointment Details</h2>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Appointment Date<span class="req">*</span></label>
                <input type="text" formControlName="aaptDate" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.aaptDate" /> </div>
            <div class="form-group col-md-6">
                <label>Appointment Type<span class="req">*</span></label>
                <input type="text" formControlName="type" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.type" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Service Fee</label>
                <input type="text" formControlName="serviceFee" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.serviceFee" />
            </div>
            <div class="form-group col-md-6">
                <label>Cost<span class="req">*</span></label>
                <input type="text" formControlName="cost" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.cost" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Notes about allergies</label>
                <textarea type="text" formControlName="allergyNotes" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.allergyNotes"></textarea>
            </div>
            <div class="form-group col-md-6">
                <label>Comments</label>
                <textarea type="text" formControlName="Comments" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.Comments"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label>Emergency Contact Name<span class="req">*</span></label>
                <input type="text" formControlName="emergencyContactName" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.emergencyContactName" />
            </div>
            <div class="form-group col-md-6">
                <label>Emergency Contact Number<span class="req">*</span></label>
                <input type="number" formControlName="emergencyContactNo" class="form-control"
                    [(ngModel)]="updateAppointmentDetails.emergencyContactNo" />
            </div>
        </div>

        <div class="form-group">
            <div class="form-group col-md-2"></div>
            <div class="form-group col-md-3"><button class="btn btn-primary" (click)="gotoClient();" formnovalidate>Edit
                    Client</button>
            </div>
            <div class=" form-group col-md-3"><button class="btn btn-primary" (click)="gotoAppointment();"
                    formnovalidate>Edit Appointment</button>
            </div>
            <div class=" form-group col-md-2"><button type="submit" class="btn btn-primary"
                    formnovalidate>Submit</button>
            </div>
            <div class="form-group col-md-2"></div>
        </div>
    </form>
</div>