<div class="container" *ngIf="isdataCleared">
    <h4>Thank you for the Submission</h4>
    <h5>Please find the data you have submitted</h5>

    <div class="jumbotron">
        <h4>Client Details</h4>
        <pre>{{ClientDetails | json}}</pre>
    </div>

    <div class="jumbotron">
        <h4>Appointment Details</h4>
        <pre>{{AppointmentDetails | json}}</pre>
    </div>

    <div class="jumbotron">
        <h4>Click
            <button type="button" class="btn btn-link changeSize" data-toggle="modal" data-target="#exampleModalCenter">
                here
            </button>
            to clear the information stored</h4>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        This operation will delete the data entered in all the pages. But, the submission is still
                        valid!
                    </p>
                    To proceed please click <b>Continue</b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="resetStoredData();">Continue</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="container">
    <div class="jumbotron">
        <p>
            you will be redirected to homepage in <h4>{{countDown}}</h4> seconds
        </p>
    </div>
</div> -->